trento-web:
  ingress:
    hosts:
      - host: ${TRENTO_WEB_ORIGIN}
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: trento-tls
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production

trento-wanda:
  ingress:
    hosts:
      - host: ${TRENTO_WEB_ORIGIN}
        paths:
        - path: /api/checks
          pathType: ImplementationSpecific
        - path: /api/v1/checks
          pathType: ImplementationSpecific
        - path: /api/v2/checks
          pathType: ImplementationSpecific
        - path: /api/v3/checks
          pathType: ImplementationSpecific
        - path: /api/v1/groups
          pathType: ImplementationSpecific
    tls:
      - secretName: trento-tls
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
