# SPDX-License-Identifier: Apache-2.0
#!BuildTag: trento/trento-server:2.6.0-dev2
#!BuildTag: trento/trento-server:2.6.0-dev2-build%RELEASE%
apiVersion: v2
name: trento-server
description: The trento server chart contains all the components necessary to run a Trento server.
type: application
# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates
version: 2.6.0-dev2

dependencies:
  - name: trento-web
    version: ">0.0.0-0"
    condition: trento-web.enabled
  - name: trento-wanda
    version: ">0.0.0-0"
    condition: trento-wanda.enabled
  - name: postgresql
    version: ">0.0.0"
    condition: postgresql.enabled
  - name: prometheus
    version: ~15.1.3
    repository: https://prometheus-community.github.io/helm-charts/
    condition: prometheus.enabled
  - name: rabbitmq
    version: ~10.3.9
    repository: https://charts.bitnami.com/bitnami/
    condition: rabbitmq.enabled
