# SPDX-License-Identifier: Apache-2.0
#!BuildTag: trento/trento-server:1.2.0
#!BuildTag: trento/trento-server:1.2.0-build%RELEASE%
apiVersion: v2
name: trento-server
description: The trento server chart contains all the components necessary to run a Trento server.
type: application
# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates
version: 1.2.0

dependencies:
  - name: trento-web
    version: ">0.0.0"
    condition: trento-web.enabled
  - name: trento-runner
    version: ">0.0.0"
    condition: trento-runner.enabled
  - name: wanda
    version: ">0.0.0"
    condition: wanda.enabled
  - name: postgresql
    version: ~12.1.6
    repository: https://charts.bitnami.com/bitnami/
    condition: postgresql.enabled
  - name: prometheus
    version: ~15.1.3
    repository: https://prometheus-community.github.io/helm-charts/
    condition: prometheus.enabled
  - name: grafana
    version: ~6.36.1
    repository: https://grafana.github.io/helm-charts/
    condition: grafana.enabled
  - name: rabbitmq
    version: ~10.3.9
    repository: https://charts.bitnami.com/bitnami/
    condition: rabbitmq.enabled
