### Global Values ###
global:
  logLevel: info
  trentoWeb:
    name: web
    servicePort: 4000
  trentoWanda:
    name: wanda
    servicePort: 4000
  postgresql:
    name: postgresql
    servicePort: 5432
    postgresqlUsername: "postgres"
    postgresqlPassword: "postgres"
  prometheus:
    name: prometheus-server
  rabbitmq:
    name: rabbitmq
    servicePort: 5671
    mtls:
      enabled: true
      existingCASecret: "rabbitmq-ca"
      existingServerSecret: "rabbitmq-server-tls"

### Sub Charts Specific Values ###
trento-web:
  nameOverride: web
  enabled: true

trento-wanda:
  nameOverride: wanda
  enabled: true

postgresql:
  enabled: true
  image:
    registry: registry.suse.com
    repository: suse/postgres
    tag: "14"
  persistence:
    mountPath: /var/lib/postgresql/data
  postgresqlDataDir: /var/lib/postgresql/data/trento
  securityContext:
    fsGroup: 0
  containerSecurityContext:
    runAsUser: 0

prometheus:
  enabled: true
  server:
    enabled: true
    extraConfigmapMounts:
    configMapOverrideName: prometheus-configmap
  serverFiles:
    prometheus.yml: {}

  alertmanager:
    enabled: false
  pushgateway:
    enabled: false
  configmapReload:
    enabled: false
  kubeStateMetrics:
    enabled: false
  nodeExporter:
    enabled: false

rabbitmq:
  enabled: true
  persistence:
    enabled: true
  auth:
    username: trento
    password: trento
    tls:
      enabled: "{{ .Values.global.rabbitmq.mtls.enabled }}"
      autogenerated: false
      existingSecret: "{{ .Values.global.rabbitmq.mtls.existingServerSecret }}"
  extraConfiguration: |
    {{- if .Values.global.rabbitmq.mtls.enabled }}
    listeners.ssl.default = 5671
    ssl_options.cacertfile = /opt/bitnami/rabbitmq/certs/ca_certificate.pem
    ssl_options.certfile = /opt/bitnami/rabbitmq/certs/server_certificate.pem
    ssl_options.keyfile = /opt/bitnami/rabbitmq/certs/server_key.pem
    ssl_options.verify = verify_peer
    ssl_options.fail_if_no_peer_cert = true
    {{- else }}
    listeners.tcp.default = 5672
    {{- end }}

  service:
    type: LoadBalancer
