### Global Values ###
global:
  logLevel: info
  trentoWeb:
    name: web
    servicePort: 4000
  trentoWanda:
    name: wanda
    servicePort: 4000
  postgresql:
    name: postgresql
    servicePort: 5432
    postgresqlUsername: "postgres"
    postgresqlPassword: "postgres"
  prometheus:
    name: prometheus-server
  rabbitmq:
    name: rabbitmq
    servicePort: 5672

### Sub Charts Specific Values ###
trento-web:
  nameOverride: web
  enabled: true
  postgresql:
    image:
      tag: 14.1.0-debian-10-r30
      registry: docker.io
      repository: bitnami/postgresql

trento-wanda:
  nameOverride: wanda
  enabled: true
  postgresql:
    image:
      tag: 14.1.0-debian-10-r30
      registry: docker.io
      repository: bitnami/postgresql

postgresql:
  enabled: true
  image:
    tag: 14.1.0-debian-10-r30

prometheus:
  enabled: true
  server:
    enabled: true
    extraConfigmapMounts:
    configMapOverrideName: prometheus-configmap
  serverFiles:
    prometheus.yml: {}

  alertmanager:
    enabled: false
  pushgateway:
    enabled: false
  configmapReload:
    enabled: false
  kubeStateMetrics:
    enabled: false
  nodeExporter:
    enabled: false

rabbitmq:
  enabled: true
  persistence:
    enabled: true
  auth:
    username: trento
    password: trento
  service:
    type: LoadBalancer
