### Global Values ###
global:
  clusterDomain: cluster.local
  logLevel: info
  trentoWeb:
    name: web
    servicePort: 4000
    origin: ""
  trentoWanda:
    name: wanda
    servicePort: 4000
  trentoMcpServer:
    name: mcp-server
    servicePort: 5000
  postgresql:
    name: postgresql
    servicePort: 5432
    postgresqlUsername: "postgres"
    postgresqlPassword: "postgres"
  prometheus:
    name: prometheus-server
  rabbitmq:
    name: rabbitmq
    servicePort: 5672
    ports:
      amqp: 5672
      amqpTls: 5671
    auth:
      username: trento
      password: trento
    tls:
      mtls:
        enabled: false
        certManager:
          enabled: true
          issuerName: rabbitmq-ca-issuer
          issuerKind: Issuer

### Sub Charts Specific Values ###
trento-web:
  nameOverride: web
  enabled: true

trento-wanda:
  nameOverride: wanda
  enabled: true

trento-mcp-server:
  nameOverride: mcp-server
  enabled: false

postgresql:
  enabled: true
  image:
    registry: registry.suse.com
    repository: suse/postgres
    tag: "14"
  persistence:
    mountPath: /var/lib/postgresql/data
  postgresqlDataDir: /var/lib/postgresql/data/trento
  securityContext:
    fsGroup: 0
  containerSecurityContext:
    runAsUser: 0

prometheus:
  enabled: true
  server:
    enabled: true
    image:
      tag: v2.51.0
    prefixURL: "/prometheus"
    extraFlags:
      - web.enable-remote-write-receiver
    extraConfigmapMounts:
    configMapOverrideName: prometheus-configmap
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        kubernetes.io/tls-acme: "true"
      traefikMiddlewares:
        - prometheus-basic-auth
      hosts: []
      path: /prometheus
      pathType: Prefix
      tls: []
  serverFiles:
    prometheus.yml: {}

  prometheusIngress:
    auth:
      enabled: true
      username: ""   # Required when auth.enabled is true
      password: ""   # Required when auth.enabled is true

  alertmanager:
    enabled: false
  pushgateway:
    enabled: false
  configmapReload:
    enabled: false
  kubeStateMetrics:
    enabled: false
  nodeExporter:
    enabled: false

rabbitmq:
  enabled: true
  persistence:
    enabled: true
  service:
    type: LoadBalancer

  extraConfiguration: |
    {{- if .Values.global.rabbitmq.tls.mtls.enabled }}
    listeners.ssl.default = 5671
    listeners.tcp = none

    ssl_options.cacertfile = /etc/rabbitmq-tls/ca.crt
    ssl_options.certfile = /etc/rabbitmq-tls/tls.crt
    ssl_options.keyfile = /etc/rabbitmq-tls/tls.key
    ssl_options.verify = verify_peer
    ssl_options.fail_if_no_peer_cert = true
    ssl_options.versions.1 = tlsv1.3
    ssl_options.versions.2 = tlsv1.2
    {{- else }}
    listeners.tcp.default = 5672
    {{- end }}
