apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "trento-wanda.fullname" . }}
  labels:
    {{- include "trento-wanda.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "trento-wanda.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "trento-wanda.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "trento-wanda.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        - name: deploy-checks
          # FIXME: replace this with a template string
          image: registry.opensuse.org/devel/sap/trento/factory/containers/trento/trento-checks:latest
          volumeMounts:
            - name: checks
              mountPath: /usr/share/trento/checks
        - name: create-wanda-db
          image: "{{ .Values.postgresql.image.registry }}/{{ .Values.postgresql.image.repository }}:{{ .Values.postgresql.image.tag }}"
          command:
            - sh
            - -c
            - >
              while ! pg_isready -U {{ .Values.global.postgresql.postgresqlUsername }} -h {{ .Release.Name }}-{{ .Values.global.postgresql.name }};
              do sleep 1;
              done;
              echo $COMMAND | psql --file=- --echo-queries --set ON_ERROR_STOP=1
          env:
            - name: PGUSER
              value: "{{ .Values.global.postgresql.postgresqlUsername }}"
            - name: PGPASSWORD
              value: "{{ .Values.global.postgresql.postgresqlPassword }}"
            - name: PGHOST
              value: "{{ .Release.Name }}-{{ .Values.global.postgresql.name }}"
            - name: COMMAND
              value: |
                SELECT 'CREATE DATABASE trento_wanda'
                WHERE NOT EXISTS (
                  SELECT FROM pg_database WHERE datname = 'trento_wanda'
                )
                \gexec
        - name: init
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "trento-wanda.fullname" . }}-configmap
            - secretRef:
                name: {{ include "trento-wanda.fullname" . }}-secret
            - secretRef:
                name: {{ .Release.Name }}-auth-tokens-secret
          args: ['eval', 'Wanda.Release.init()']
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "trento-wanda.fullname" . }}-configmap
            - secretRef:
                name: {{ include "trento-wanda.fullname" . }}-secret
            - secretRef:
                name: {{ .Release.Name }}-auth-tokens-secret
          ports:
            - name: http
              containerPort: {{ template "trentoWanda.port" . }}
              protocol: TCP
          args: ['start']
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          # readinessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: checks
              mountPath: /usr/share/trento/checks
      volumes:
        - name: checks
          emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
