apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "trento-web.fullname" . }}-configmap
data:
  DATABASE_URL: "ecto://{{ .Values.global.postgresql.postgresqlUsername }}:{{ .Values.global.postgresql.postgresqlPassword }}@{{ .Release.Name }}-{{ .Values.global.postgresql.name }}/trento"
  EVENTSTORE_URL: "ecto://{{ .Values.global.postgresql.postgresqlUsername }}:{{ .Values.global.postgresql.postgresqlPassword }}@{{ .Release.Name }}-{{ .Values.global.postgresql.name }}/trento_event_store"
  ENABLE_ALERTING: "{{ .Values.alerting.enabled }}"
  SMTP_SERVER: "{{ .Values.alerting.smtpServer }}"
  SMTP_PORT: "{{ .Values.alerting.smtpPort }}"
  SMTP_USER: "{{ .Values.alerting.smtpUser }}"
  ALERT_SENDER: "{{ .Values.alerting.sender }}"
  ALERT_RECIPIENT: "{{ .Values.alerting.recipient }}"
  PROMETHEUS_URL: "http://{{ .Release.Name }}-{{ .Values.global.prometheus.name }}"
  AMQP_URL: "amqp://trento:trento@{{ .Release.Name }}-{{ .Values.global.rabbitmq.name }}:{{ .Values.global.rabbitmq.servicePort }}"
  CHARTS_ENABLED: "{{ .Values.chartsEnabled }}"
  TRENTO_WEB_ORIGIN: "{{ .Values.trentoWebOrigin }}"
  ENABLE_OIDC: "{{ .Values.oidc.enabled }}"
  OIDC_CLIENT_ID: "{{ .Values.oidc.clientId }}"
  OIDC_BASE_URL: "{{ .Values.oidc.baseUrl }}"
  ENABLE_OAUTH2: "{{ .Values.oauth2.enabled }}"
  OAUTH2_CLIENT_ID: "{{ .Values.oauth2.clientId }}"
  OAUTH2_BASE_URL: "{{ .Values.oauth2.baseUrl }}"
  OAUTH2_AUTHORIZE_URL: "{{ .Values.oauth2.authorizeUrl }}"
  OAUTH2_TOKEN_URL: "{{ .Values.oauth2.tokenUrl }}"
  OAUTH2_USER_URL: "{{ .Values.oauth2.userUrl }}"
  OAUTH2_SCOPES: "{{ .Values.oauth2.scopes }}"
  ENABLE_SAML: "{{ .Values.saml.enabled }}"
  SAML_IDP_ID: "{{ .Values.saml.idpId }}"
  SAML_IDP_NAMEID_FORMAT: "{{ .Values.saml.idpNameIdFormat }}"
  SAML_SP_DIR: "{{ .Values.saml.spDir }}"
  SAML_SP_ID: "{{ .Values.saml.spId }}"
  SAML_SP_ENTITY_ID: "{{ .Values.saml.spEntityId }}"
  SAML_SP_CONTACT_NAME: "{{ .Values.saml.spContanctName }}"
  SAML_SP_CONTACT_EMAIL: "{{ .Values.saml.spContactEmail }}"
  SAML_SP_ORG_NAME: "{{ .Values.saml.a }}"
  SAML_SP_ORG_DISPLAYNAME: "{{ .Values.saml.spOrgDisplayName }}"
  SAML_SP_ORG_URL: "{{ .Values.saml.spOrgUrl }}"
  {{- if .Values.saml.metadataUrl }}
  SAML_METADATA_URL: "{{ .Values.saml.metadataUrl }}"
  {{- end }}
  {{- if .Values.saml.metadataContent }}
  SAML_METADATA_CONTENT: "{{ .Values.saml.metadataContent }}"
  {{- end }}
  SAML_SIGN_REQUESTS: "{{ .Values.saml.signRequests }}"
  SAML_SIGN_METADATA: "{{ .Values.saml.signMetadata }}"
  SAML_SIGNED_ASSERTION: "{{ .Values.saml.signedAssertion }}"
  SAML_SIGNED_ENVELOPES: "{{ .Values.saml.signedEnvelopes }}"
