apiVersion: v1
kind: Service
metadata:
  name: {{ include "wanda.fullname" . }}
  labels: {{- include "wanda.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ template "wanda.port" . }}
      targetPort: http
      protocol: TCP
      name: http
  selector: {{- include "wanda.selectorLabels" . | nindent 4 }}
